plugins:
  group:server:
    server:yhmq2c:
      port: 5140
      maxPort: 5149
      host: 0.0.0.0
  group:basic:
    ~admin:dg5q77: {}
    commands:skeqbn: {}
    help:vtl8ir: {}
    http:ta1cpm: {}
    locales:6zfq9e: {}
    proxy-agent:1g5oc7: {}
    rate-limit:a1dl4s: {}
  group:console:
    actions:94y3fm: {}
    analytics:1z1ji4: {}
    config:qqhfgr: {}
    console:fk65ul:
      open: true
    dataview:sx55ah: {}
    explorer:7lgvc9: {}
    logger:0m6gs4: {}
    insight:hfgfmm: {}
    market:q1ifjj:
      search:
        endpoint: https://registry.koishi.chat/index.json
    notifier:g3wjll: {}
    oobe:z7i36l: {}
    sandbox:i49vgc: {}
    status:nadq9d: {}
    theme-vanilla:djho8e: {}
  group:storage:
    assets-local:quz05g: {}
  group:bsbot:
    cron:q2e11b: {}
    {{ if or (eq .Env.DB_TYPE "postgres") (eq (datasource "config").db.type "postgres") }}
    database-postgres:quz05x:
      host: '{{ .Env.DB_HOSTNAME | default (datasource "config").db.host | default "" }}'
      port: {{ .Env.DB_PORT | default (datasource "config").db.port | default "" }}
      username: '{{ .Env.DB_USERNAME | default (datasource "config").db.username | default "" }}'
      password: '{{ .Env.DB_PASSWORD | default (datasource "config").db.password | default "" }}'
      database: '{{ .Env.DB_DATABASE_NAME | default (datasource "config").db.database_name | default "koishi" }}'
    {{ else }}
    database-sqlite:j0pkjr:
      path: data/koishi.db
    {{ end }}
    adapter-onebot:ew6th4:
      protocol: ws
      endpoint: ws://localhost:3001
      selfId: '{{ .Env.QQ_ACCOUNT | default (datasource "config").qq_account | default "" }}'
    beatsaber-bot:fi5tcc:
      render:
      {{ if or (eq .Env.RENDER_MODE "cf") (eq (datasource "config").render.mode "cf") }}
        mode: 'cf'
        cfAccountId: '{{ .Env.CF_ACCOUNT_ID | default (datasource "config").render.cf_account_id | default ""}}'
        cfAPIKey: '{{ .Env.CF_API_KEY | default (datasource "config").render.cf_api_key  | default "" }}'
        puppeteerURL: ''
      {{ else }}
        mode: 'puppeteer'
        puppeteerURL: '{{ .Env.RENDER_PUPPETEER_URL | default (datasource "config").render.puppeteer_url | default "" }}'
      {{ end }}

